<link rel="stylesheet" type="text/css" href="../static/css/MyCSS.css">

<p><em>学号：</em>2011763    &emsp;&emsp;    <em>姓名：</em>黄天昊    &emsp;&emsp;    <em>专业：</em>计算机科学与技术</p>
<img src="../static/images/StarGuardian_Ezreal_Splash.jpg" alt="LOGO" width="200" height="200">


<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Mountain View</h2>
      <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
      <button class="btn" onclick="window.open('https://github.com/Skyyyy0920?tab=repositories')">View Trips</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">To The Beach</h2>
      <p class="copy">Plan your next beach trip with these fabulous destinations</p>
      <button class="btn">View Trips</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Desert Destinations</h2>
      <p class="copy">It's the desert you've always dreamed of</p>
      <button class="btn">Book Now</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Explore The Galaxy</h2>
      <p class="copy">Seriously, straight up, just blast off into outer space today</p>
      <button class="btn">Book Now</button>
    </div>
  </div>
</main>